<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517896519859-6u2bqcp0ekpk7t6mgs5vlnl5hovsim8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517896519859-6u2bqcp0ekpk7t6mgs5vlnl5hovsim8k</string>
	<key>API_KEY</key>
	<string>AIzaSyATXjConSGBnC9NBgHQAOa_z3vnTLT7oIk</string>
	<key>GCM_SENDER_ID</key>
	<string>517896519859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RealSocial.homework.realSocialAssignment</string>
	<key>PROJECT_ID</key>
	<string>real-social-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>real-social-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517896519859:ios:768436de13b35f2eb370c6</string>
</dict>
</plist>